body {
    margin: 0;
}

/*------header------*/

.header {
    border-bottom: 1px solid black;
    padding: 10px 10px;
}

.header-logo img {
    height: 60px;
    width: 150px;
}

.header-burger {

}

/*------intro------*/

.intro {
    display: flex;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
}

.intro-title  {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    margin: 20px;
}

.intro-text {
    display: flex;
    color: cadetblue;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding: 10px;
}

.intro-btn {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.intro-btn button {
    font-size: 1.4em;
    height: 60px;
    margin: 10px;
    border: 2px solid cadetblue;
    border-radius: 6px;
    color: cornflowerblue;
    box-shadow: 0px 0px 2px 1px;
}

.intro-btn button.email {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    background-color: white;
}

.intro-btn button.get {
    background-color: blue;
    color: white;
}

.intro-info {
    text-align: center;
    font-size: 1.4em;
    color: cadetblue;

}


/*------reviews-------*/

.reviews {

}

.reviews-img-wrapper img {
    width: 100%;
    margin-top: 40px;

}

.reviews-img-wrapper {
    position: relative;
    width: 100%;

}


.reviews-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;

}


.reviews-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.3em;

}

.reviews-slider {

}

/*------work------*/

.work {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 10px;
}

.work-wrapper {


}

.work-title {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.work-title-wrapper {
    font-size: 1.3em;
    color: cadetblue;
}

.work-text {
    font-size: 1.3em;
    color: cadetblue;
    padding: 20px;
}

.work-btn {
    width: 100%;
}

.work-btn button {
    padding: 10px 15px;
    font-size: 1.4em;
    background-color: white;
    color: cadetblue;
    border-radius: 6px;
    border: 2px solid cadetblue;
    box-shadow: 0px 0px 0px 3px;
}
